{% extends "base.html.twig"%}

{# {% form_theme formView "bootstrap_5_horizontal_layout.html.twig" %} #}

{# _self si le theme est sur le meme fichier #}
	{% block title %}
Creation d'un produit
{% endblock %}
	{% block body %}
		<div class="container"> <h1>Nouveau produit</h1>
		{{ form_start(formView) }}
		{{ form_errors(formView) }}
		<div>
			<div class="col">
				{{ form_row(formView.name) }}
				{{ form_row(formView.shortDescription) }}
			</div>
			<div class="col">
				{{ form_row(formView.mainpicture) }}
				{{ form_row(formView.mainpicture2) }}
				{{ form_row(formView.category) }}
				{{ form_row(formView.price) }}</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">
			Créer le produit
		</button>
	</div>


	{{ form_end(formView) }}
</div>{% endblock %}
