{% extends "base.html.twig" %}
{% block title %}Edition de
	{{product.name}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Editer le produit
			{{product.name}}</h1>
		{{ form_start(formView) }}
		{{ form_errors(formView) }}
		<div>
			<div class="col">
				{{ form_row(formView.name) }}
				{{ form_row(formView.shortDescription) }}
			</div>
			<div class="col">
				{{ form_row(formView.mainPicture) }}
				{{ form_row(formView.mainPicture2) }}
				{{ form_row(formView.category) }}
				{{ form_row(formView.price) }}</div>
		</div>
		<button type="submit" class="btn btn-primary mt-3">
			Editer le produit
		</button>
	</div>


	{{ form_end(formView) }}
</div>{% endblock %}
