{% extends 'base.html.twig' %}
{% block title %}
	{{product.name}}
{% endblock %}
{% block body %}

	<div class="container">

		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('homepage') }}">Acceuil</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('product_category',{'slug':product.category.slug})}}">{{product.category.name}}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
		</ol>

		<div class="container-fluid">
			<h1 class="mb-4 mt-4">{{ product.name }}({{ product.price / 100}}
				EUR)</h1>
			<div class="row">
				<div class="col-4">
					<img src="/images/{{product.mainpicture}}" alt="image du produit {{ product.name }}" class="img-fluid">
				</div>
				<div class="col">
					<span class="badge badge-primary text-bg-dark">
						{{product.category.name}}
					</span>
					<p class="card-text">{{ product.shortDescription }}</p>
					<a href="#" class="btn btn-success btn-lg">
						<i class="fas fas-shopping-cart"></i>
						Ajouter au Panier
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
