<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

		{% endblock %}
	</head>
	<body>
		{% include "shared/_navbar.html.twig" %}
		{% for rubrique, messages in app.flashes %}
			<div class="alert alert-{{rubrique}}">
				{% for message in messages %}
					<p>{{message}}</p>
				{% endfor %}
			</div>
		{% endfor %}
		{% block body %}{% endblock %}
		{% if block('footer') is defined %}
			<div class="container mt-4">
				<div class="row">
					{% include "shared/_footer.html.twig" with {
				'icone':'fas fa-truck',
				'titre':'LIVRAISON OFFERTE',
				'text':'Dés 100euros d\'achats en France Metropolitaine'
			} %}
			{% include "shared/_footer.html.twig" with {
				'icone':'fas fa-check',
				'titre':'SATISFAIT OU REMBOURSSÉE',
				'text':'Vous disposez de 14 jours pour changer d\'avis'
			} %}
					{% include "shared/_footer.html.twig" with {
				'icone':'fas fa-lock',
				'titre':'PAIEMENT SÉCURISÉ',
				'text':'Paiement par CB ou Paypal sécurisé par certificats SSL'
			} %}
				</div>
			</div>
			<div class="container-fluid border-top">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<ul>
								<li class=" nav-link text-dark my-2">DES QUESTIONS ?</li>
								<li class="my-2">
									<a href="nouscontacter.php" class=" nav-link text-dark ">NOUS CONTACTER</a>
								</li>
								<li class="my-2">
									<a href="infolivraison.php" class="nav-link text-dark ">LIVRAISON</a>
								</li>
								<li class="my-2">
									<a href="#" class="nav-link text-dark">ECHANGE OU REMBOURESSEMENT</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4">
							<ul>
								<li class="nav-link text-dark my-2">
									INFORMATIONS SUPPLÉMENTAIRES</li>
								<li class="my-2">
									<a href="#" class="nav-link text-dark">CONDITIONS DE VENTE</a>
								</li>
								<li class="my-2">
									<a href="#" class="nav-link text-dark">MENTIONS LÉGALES</a>
								</li>
								<!-- <li><a href="#" class="nav-link text-dark">GUIDE DES TAILLES</a></li> -->
								<li class="my-2">
									<a href="#" class="nav-link text-dark">POLITIQUE DE REMBOURSSEMENT</a>
								</li>
							</ul>
						</div>
						<div class="col-md-4 ">
							<ul class="d-flex">
								<li class="icone">
									<a class="nav-link text-dark my-2 mx-2" href="https://www.facebook.com/">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="icone my-2 mx-2">
									<a class="nav-link text-dark" href="https://twitter.com/home">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li class="icone my-2 mx-2">
									<a class="nav-link text-dark" href="https://mail.google.com/">
										<i class="fas fa-at"></i>
									</a>
								</li>
							</ul>
							<div class=" px-5">
								<a href="index.php"><img src="{{asset("images/GIGISBRAND.png")}}" alt="logo"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</body>
</html>
