<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{asset("images/GIGISBRAND.png")}}" alt=""></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor03">
			<ul class="navbar-nav me-auto">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">FEMME</a>
					<div class="dropdown-menu">
						{% for c in categoryRepository.findAll() %}
							<a class="dropdown-item" href="{{ path('product_category',{'slug': c.slug }) }}">{{ c.name }}</a>
						{% endfor %}
					</div>
				</li>
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">
							<i class="fas fa-user"></i>
						</a>
					</li>
					<li>
						<a href="#" class="nav-link">
							<i class=" far fa-heart"></i>
						</a>
					</li>
					<li>
						<a href="{{path('cart_show')}}" class="nav-link">
							<i class="fas fa-shopping-cart"></i>
							({{ cartService.total }})
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</nav>
